@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-size: 4rem;
    --overlay-color: 255 255 255 / 0.2;
    --overlay-opacity: 1;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}

@layer components {
  .outline-v2 * {
    outline: solid rgb(0 0 0 / 0.5) 1px;
  }

  .remove-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .remove-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .overlay-effect::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(var(--overlay-color));
    opacity: var(--overlay-opacity);
    z-index: 9999;
  }
}
